# mac os
.DS_Store

# General
.git
.idea
.fleet
yarn.lock
.yarnclean
dist
node_modules
docs/node_modules
!docs/yarn.lock
docs/.vitepress/cache

deploy.py
deploy_wz
pytool
.yarn/cache
.yarn/unplugged
.yarn/install-state.gz
.pnp.*
.npmrc