
a{
    text-decoration: none;
    color: inherit;
}

a:hover, a:visited, a:link, a:active {
    color: inherit;
}

button:focus, button:active{
    outline: 0;
}


/*
图标按钮紧凑化
 */
.ivu-btn-icon-only{
    padding: 0 6px !important;
}