
@light-bg-color: white;
@light-color: #515a6e;

.aui-theme-light{
    .aui-header{
        background-color: @light-bg-color;
        color: @light-color;
    }

    .aui-content{
        background-color: @light-bg-color;
        color: @light-color;
    }

    .ivu-card{
        background-color: #fbfafa;
        border-color: #dde2e4;
    }
    .ivu-menu-horizontal.ivu-menu-light:after{
        background: transparent;
    }
}